.textFormat{
    font-weight: bold;
}

.selected {
    background-color: rgb(60, 59, 59);
}

.elementContainerItem{
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.mainContainer {
    display: flex;
    height: 100vh; /* full viewport height */
}

.elementContainer {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
}

.elementSidebar {
    border: 1px solid black;
    width: 35%;
    padding: 20px;
    overflow-y: auto;
}

.elementUnlocks{
    border: 1px solid black;
    height: 85%;
    overflow-y: auto;
    margin-bottom: 2px;
}

.featureBar{
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.featureBarItem{
    cursor: pointer;
    display: flex;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search{
    background-image: url('/icons/searchglass.png');
    background-repeat: no-repeat;
}